{% load static %}

<html>
<header>
    <link rel="stylesheet" type="text/css" href="{% static 'social/profile.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- jQuery and other JS resources-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous">

    </script>

</header>
<body onload="//setTimeout(function(){location.reload();}, 10000);">

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <span class="navbar-brand mb-0 h1">Social</span>
    <div id="navbarNav">
        <ul class="navbar-nav">

            {% block active %}
                <li class="nav-item active">
                    <a class="nav-link" id="navTimeline" href="{%  url "social:timeline" %}">Timeline<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navSearch" href="{%  url "social:search" %}">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navMyFriends" href=" {%  url "social:friends" %}">My friends</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navChats" href="{% url "social:chats" %}">Chats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navProfile" href="{% url "social:profile" %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navLogout" href="{% url "social:logout_view" %}">Logout</a>
                </li>
            {% endblock%}

        </ul>
    </div>
</nav>

{% block content %}
{% endblock%}

</body>
</html>
