{% extends 'social/base.html' %}

{% block active %}
    <li class="nav-item">
        <a class="nav-link" id="navTimeline" href="{%  url "social:timeline" %}">Timeline</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="navSearch" href="{%  url "social:search" %}">Search</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" id="navMyFriends" href=" {%  url "social:friends" %}">My friends<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="navLogout" href="{% url "social:logout_view" %}">Logout</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="navLogout" href="{% url "social:profile" %}">Profile</a>
    </li>
{% endblock%}

{% block content %}
    <h1> My Friends </h1>
    {% if my_friends_list %}
        <ul>
            {% for friend in my_friends_list %}
                <li>
                    {{ friend.usuario.username }}

                    <!-- Button trigger modal -->
                    <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#Modal{{ forloop.counter }}">
                        Chat
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="Modal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="ModalScrollableTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">

                                    <h5 class="modal-title" id="ModalScrollableTitle"> Start Chat </h5>

                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>

                                </div>

                                <form action="{% url "social:new_chat" friend.id "none" 0%}" method="POST">
                                    {% csrf_token %}

                                    <div class="modal-body">
                                        {{ form }}
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <input type="submit" class="btn btn-primary" value="Send">
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                    <a href="{% url "social:unfriend" friend.id "friends"%}" class="btn  btn-danger btn-sm" > Unfriend </a>
                    <br>
                    <br>

                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p> You don't have friends. :( </p>
    {% endif %}
{% endblock %}