{% extends 'social/base.html' %}

{% block active %}
    <li class="nav-item">
        <a class="nav-link" id="navTimeline" href="{%  url "social:timeline" %}">Timeline<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="navSearch" href="{%  url "social:search" %}">Search</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" id="navMyFriends" href=" {%  url "social:my_friends" %}">My friends</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="navLogout" href="{% url "social:logout_view" %}">Logout</a>
    </li>
{% endblock%}

{% block content %}
    <h1> My Friends </h1>
    {% if my_friends_list %}
        <ul>
            {% for friend in my_friends_list %}
                <li>
                    {{ friend.usuario.username }}
                    <a href="{% url "social:unfriend" friend.id %}" class="btn  btn-danger btn-sm" > Unfriend </a>
                    <br>
                    <br>

                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p> You don't have friends. :( </p>
    {% endif %}
{% endblock %}