{% extends 'social/base.html' %}

{% block content %}
    <h1> My Friends </h1>
    {% if my_friends_list %}
        <ul>
            {% for friend in my_friends_list %}
                <li>
                    {{ friend.username }}
                    <a href="{% url "social:unfriend" friend.id %}" class="btn  btn-danger btn-sm" > Unfriend </a>
                    <br>
                    <br>

                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p> You don't have friends. :( </p>
    {% endif %}
{% endblock %}