{% extends 'social/base.html' %}
{% load static %}

{% block active %}
    <li class="nav-item">
        <a class="nav-link" id="navTimeline" href="{%  url "social:timeline" %}">Timeline</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="navSearch" href="{%  url "social:search" %}">Search</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="navMyFriends" href=" {%  url "social:friends" %}">My friends</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" id="navProfile" href="{% url "social:profile" %}">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="navLogout" href="{% url "social:logout_view" %}">Logout</a>
    </li>
{% endblock%}
{% block content %}

<h2>Your Profile</h2>
<h5>{{ request.user.first_name }} {{ request.user.last_name }}</h5>
<h6><font color="#a9a9a9">@{{ request.user.socialnetworkuser.handle }}</font></h6>
    <div class="left">
        <div class="container">
            <img src="{{ pic_url }}" class="avatar" alt="Profile" />
        </div>
    </div>
<form action="" method="POST">
{% csrf_token %}
{{ handle_form }}
<button type="submit" class="btn btn-info btn-sm">Set handle</button>
</form>
  {% if error_message %} <p> <strong> {{ error_message }}</strong> </p>{% endif %}
<div class="left">
    <form enctype="multipart/form-data" action="{% url "social:profile_pic" %}" method="POST">
        {% csrf_token %}
        {{ pic_form }}
        <div>
    <button type="submit" class="btn btn-info btn-sm">Set profile picture</button>
        </div>
    </form>
    <form action="{% url "social:delete_pic" %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger btn-sm">Delete profile picture</button>
    </form>
    <form action="{% url "social:delete_prof" %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn  btn-danger btn-sm">Delete account</button>
    </form>
</div>
{% endblock %}