{% extends 'social/base.html' %}

{% block active %}
    <li class="nav-item">
        <a class="nav-link" id="navTimeline" href="{%  url "social:timeline" %}">Timeline<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" id="navSearch" href="{%  url "social:search" %}">Search</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="navMyFriends" href=" {%  url "social:my_friends" %}">My friends</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="navLogout" href="{% url "social:logout_view" %}">Logout</a>
    </li>
{% endblock%}

{% block content %}
    <h1>Search Users</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-primary btn-sm" type="submit">search</button>
    </form>
    <ul>
        {% for user, is_friend in users %}
            <li>
                {{ user.usuario.username }} - {{ is_friend }}
                {% if is_friend %}
                    <button class="btn btn-success btn-sm">Chat</button>
                    <a href="{% url "social:search_unfriend" user.usuario.id %}" class="btn btn-danger btn-sm">Unfriend</a>
                {% else %}
                    <button class="btn btn-success btn-sm">Add Friend</button>
                {% endif %}

            </li><br>
        {% endfor %}
    </ul>
{% endblock%}
