{% extends 'social/base.html' %}

{% block active %}
    <li class="nav-item">
        <a class="nav-link" id="navTimeline" href="{%  url "social:timeline" %}">Timeline</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" id="navSearch" href="{%  url "social:search" %}">Search<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="navMyFriends" href=" {%  url "social:friends" %}">My friends</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="navChats" href="{% url "social:chats" %}">Chats</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="navProfile" href="{% url "social:profile" %}">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="navLogout" href="{% url "social:logout_view" %}">Logout</a>
    </li>
{% endblock%}

{% block content %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'social/style.css' %}">

    <h1>Search Users</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-info btn-sm" name="search" type="submit">search</button>
    </form>
    <ul>
        {% for user, is_friend, f_request in users %}
            <li>
                {{ user.usuario.username }}
                {% if is_friend %}

                    <!-- Button trigger modal -->
                    <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#Modal{{ forloop.counter }}">
                        Chat
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="Modal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="ModalScrollableTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">

                                    <h5 class="modal-title" id="ModalScrollableTitle"> Start Chat </h5>

                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>

                                </div>

                                <form action="{% url "social:new_chat" user.id "none" 0%}" method="POST">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <div class="container">
                                            {{ chat }}
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <input type="submit" class="btn btn-primary" value="Send">
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <a href="{% url "social:unfriend" user.id "search"%}" class="btn btn-danger btn-sm">Unfriend</a>
                {% elif f_request %}
                    <a href="{% url "social:respond_request" f_request.pk 5 %}" class="btn btn-danger btn-sm">Cancel Request</a>
                {% else %}
                    <a href="{% url "social:friend_request" user.id %}" class="btn btn-success btn-sm">Add Friend</a>
                {% endif %}

            </li><br>
        {% endfor %}
    </ul>
{% endblock%}
