{% extends 'social/base.html' %}
{% block content %}
    <h1>Search Users</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-primary btn-sm" type="submit">search</button>
    </form>
    <ul>
        {% for user, is_friend in users %}
            <li>
                {{ user.usuario.username }} - {{ is_friend }}
                {% if is_friend %}
                    <button class="btn btn-success btn-sm">Chat</button>
                    <a href="{% url "social:search_unfriend" user.usuario.id %}" class="btn btn-danger btn-sm">Unfriend</a>
                {% else %}
                    <a href="{% url "social:friend_request" user.usuario.id %}" class="btn btn-success btn-sm">Add Friend</a>
                {% endif %}

            </li><br>
        {% endfor %}
    </ul>
{% endblock%}
