{% extends 'social/base.html' %}

{% block active %}
    <li class="nav-item active">
        <a class="nav-link" id="navTimeline" href="{%  url "social:timeline" %}">Timeline<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="navSearch" href="{%  url "social:search" %}">Search</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="navMyFriends" href=" {%  url "social:friends" %}">My friends</a>
    </li>
     <li class="nav-item">
        <a class="nav-link" id="navProfile" href="{% url "social:profile" %}">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="navLogout" href="{% url "social:logout_view" %}">Logout</a>
    </li>
{% endblock%}

{% block content %}
    <h1>Timeline</h1>
    <div class="card" style="margin-left: 20px; width: 40rem;">
        <div class="card-body" >
            <h5 class="card-title">Friend requests</h5>
            <div>
                {%  if friend_requests %}
                    <ul>
                        {%  for req in friend_requests %}
                            <li>
                                <div class="card-body">
                                    <h5>{{ req.remitente.usuario.first_name }}</h5>
                                    <a href="{% url "social:respond_request" req.pk 1 %}" class ="btn btn-success"> Accept </a>
                                    <a href="{% url "social:respond_request" req.pk 0 %}" class ="btn btn-danger"> Reject </a>
                                </div>
                            </li> <br>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No friend requests.</p>
                {% endif %}
            </div>
        </div>
    </div> <br> <br> <br> <br>

    <h4>&nbsp Filter messages: </h4>
    <form action={% url "social:timeline" %} method="POST">
        {% csrf_token %}
        <input type="radio" name="filter" value=1>Sender   &nbsp &nbsp &nbsp{{ senderform }}​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​ <br>
        <input type="radio" name="filter" value=2>Receiver &nbsp &nbsp{{ receiverform }}​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​ <br>
        <input type="radio" name="filter" value=3>Sent today<br>
        <input type="radio" name="filter" value=4>Shouts only<br>
        <input type="radio" name="filter" value=5>No filter<br>

        <button class="btn btn-info btn-sm" id="applyfilter" name="search" type="submit">Apply Filter</button>
    </form>
    <br>
    <br>
    <br>


    <form action="" style="margin-left: 20px" method="POST">
        {% csrf_token %}
        {{ forms }}
        <input class="btn btn-info btn-sm" id="submitButton" type="submit" value="Submit">
    </form>

    {%  if messages %}
        <ul>
            {%  for message in messages %}
                {% if message.user_id.count == 1 and message.chat != None %}
                    <li> <div class="card" style="width: 30rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ message.message_id.author.usuario.first_name }} -> {{ message.user_id.usuario.first_name }}</h5>
                            <div><p>{{ message.message_id.text }}</p></div>
                            <div style="float:right" ><p> <strong> posted </strong> {{ message.message_id.pub_date }}</p></div>
                        </div>
                    </div>
                    </li>

                    <!-- Button to open chat -->
                    <a href="{% url "social:open_chat" message.message_id.id %}" class="btn btn-info btn-sm">
                        Open Chat
                    </a>

                {% else %}
                    <li> <div class="card" style="width: 30rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ message.message_id.author.usuario.first_name }} -> everyone</h5>
                            <div><p>{{ message.message_id }}</p></div>
                            <div style="float:right" ><p> <strong> posted </strong> {{ message.message_id.pub_date }}</p></div>
                        </div>
                    </div>
                    </li>

                {% endif %}

                <br> <br>

            {% endfor %}
        </ul>
    {% else %}
        <p>No posts available.<a href="{% url "social:search" %}"> Add friends</a> to see their posts here.</p>
    {% endif %}
{% endblock %}