{% extends 'social/base.html' %}

{% block active %}
    <li class="nav-item active">
        <a class="nav-link" id="navTimeline" href="{%  url "social:timeline" %}">Timeline<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="navSearch" href="{%  url "social:search" %}">Search</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="navMyFriends" href=" {%  url "social:my_friends" %}">My friends</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="navLogout" href="{% url "social:logout_view" %}">Logout</a>
    </li>
{% endblock%}

{% block content %}
    <h1>Timeline</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ forms }}
        <input class="btn btn-info btn-sm" id="submitButton" type="submit" value="Submit">
    </form>



    {%  if shouts %}
        <ul>
            {%  for shout in shouts %}
                <li> <div class="card" style="width: 30rem;">
                    <div class="card-body">
                        {{ shout.shout_text }}   <strong> posted </strong> {{ shout.pub_date }}
                    </div>
                </div>
                </li> <br>
            {% endfor %}
        </ul>
    {% else %}
        <p>No posts available.<a href="{% url "social:search" %}"> Add friends</a> to see their posts here.</p>
    {% endif %}
{% endblock %}